<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="jdbcUrl" value="${database.connection.url}" />
		<property name="driverClass" value="${database.connection.driver}" />
		<property name="user" value="${database.connection.username}" />
		<property name="password" value="${database.connection.password}" />
		<property name="checkoutTimeout" value="300000" />
	</bean>

</beans>
